*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}
.navbar
{
    background-color: rgb(56, 58, 80);
    padding: 20px;
}
.container{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    background-color: rgb(35, 35, 37);
    text-align: center;
    flex-wrap: wrap;
}
.title{
    padding: 15px;
}
.sub-title{
    color: lightgray;
    padding: 30px 20px;
}
.album{
    background-color: rgb(56, 58, 80);
    margin: 30px;
    padding: 20px 10px;
    width: 300px;
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.poster{
    width: 250px;
}
